/*

!/config
!/kubejs
!/defaultconfigs
!/.gitignore
!/.gitattributes
!/manifest.json
!/tools
/tools/bootstrap/.cache
!/.github
!.editorconfig

/mods/.index

/config/fml.toml
/config/jei/world/local/*

config/oculus.properties
config/modernfix-mixins.properties
config/ftbbackups2.json
config/spark/tmp
config/spark/activity.json
config/voicechat/username-cache.json
config/embeddium-fingerprint.json
config/jade/sort-order.json
config/jei*
config/embeddium++.toml
config/embeddium++.toml
config/emi.css
config/ichunutil/themes

./options.txt

#Don't ignore the Create client config so we can remove the Main Menu config button
#it gets in the way of the beautiful FancyMenu
!/config/create-client.toml
.qmenu_opened.marker